body {
  color:rgb(218, 218, 218);
  background-color:rgb(59, 59, 59);
  background-image:url(./image/84248.png);
  background-repeat:no-repeat;
  background-size: cover;
  }
div{
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #a06887;
}
.active {
  background-color: #480a992f;
}



.Box {
  padding : 1em;
  width: 200px;
  height: 200px;
  box-sizing: border-box;

  /* La couche la plus basse sera
     peinte avec un gris clair uni */
  background-color: #8c185a3a;

  /* Ensuite on applique des gradients
     linéaires les uns sur les autres
     pour créer un effet de bandes colorées.
     Comme vous pouvez le voir, les gradients
     sont considérés et manipulés comme des
     images */
  background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #4e4371 0),
                    linear-gradient( 85deg, rgba(0,0,0,0) 95%, #65517b 11%),
                    linear-gradient(175deg, rgba(0,0,0,0) 90%, #775b84 22%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 92%, #90698d 33%),
                    linear-gradient(175deg, rgba(0,0,0,0) 85%, #ab6884 44%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 89%, #b76880 55%),
                    linear-gradient(175deg, rgba(0,0,0,0) 80%, #c76472 66%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 83%, #cf686f 77%),
                    linear-gradient(175deg, rgba(0,0,0,0) 70%, #f87e61 100%);
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    

}
