@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


@font-face {
  font-family: Shockwave;
  src: local("Helvetica Neue Bold"),
       local("HelveticaNeue-Bold"),
       url(./font/shockwave/Shockwave.ttf);
  font-weight: bold;
}

 
body {
  color:rgb(218, 218, 218);
  background-color:rgb(59, 59, 59);
  background-image:url(./image/84248.png);
  background-repeat:no-repeat;
  background-size: cover;
  }
div{
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #a06887;
}
.active {
  background-color: #480a992f;
}


.spinner{
  height: 36px;
  width: 36px;
  background-color: #ffffff;
  animation: flip 1s linear infinite;
}
@keyframes flip {
  50%{
    transform: rotateX(180deg);
  }
  100%{
    transform: rotateX(180deg) rotateY(180deg);
  }
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Shockwave", serif;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-content: 0;
  margin-top: 30px;
}

.wrapper .icon{
  position: relative;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.wrapper .icon{
  color: #fff;
  transition: .4s linear;
}

.wrapper .icon::before,
.wrapper .icon::after{
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: .4s linear;
}

.wrapper .icon:hover::before{
  border-radius: 50%;
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewX(20deg);
  color: #fff;
}

.wrapper .icon:hover::after{
  border-radius: 50%;
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewY(-20deg);
  color: #fff;
}

.wrapper .tooltip{
  position: absolute;
  top: 0;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip{
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}