<link rel="stylesheet" href="../../static/card.css">

<div class="slide-container">
  
    <div class="wrapper">
      <div class="clash-card">
        <div class="clash-card__image clash-card__image">
          <img src="../../static/image/music-icon-2.png" height="200px" alt="logo" />
        </div>
        <div class="clash-card__sub clash-card__sub">SUB</div>
        <div class="clash-card__name">Artiste</div>
        <div class="clash-card__description">
          Le texte le texte LE TEXTE.
        </div>
      </div> <!-- end clash-card-->    
    </div> <!-- end wrapper -->
  </div> <!-- end container -->