<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <link href="../static/image/music-icon-2.png" rel="icon">

  <title>Groupie-Tarcker</title>  

<link href="../static/style.css" rel="stylesheet"></head>
<header>
<nav>
  <ul>
  <div class="wrapper">  
    <a href="./accueil.html">
    <div class="icon Accueil">
      <div class="tooltip">Accueil</div>
    <span><i class="fa fa-home" id="Accueil"></i></span>
    </div></a>
    <a href="./groupe.html">
    <div class="icon Groupes">
      <div class="tooltip">Artiste</div>
    <span><i class="fa fa-group" id="Groupes"></i></span>
    </div></a>
    <a href="./Apropos.html">
    <div class="icon ÀPropos">
      <div class="tooltip">À Propos</div>
    <span><i class="fa fa-question-circle" id="ÀPropos"></i></span>
    </div></a>

  </div>
</ul>
</nav>
</header>
<body>
  <div>
    <h1 style="color:#ffff;font-size:150px;">Groupie Tracker</h1>
    </div> 
</body>
</html>
