<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">  
  <link href="../static/image/music-icon-2.png" rel="icon">
  

  <title>Groupie-Tarcker</title>  

<link href="../static/style.css" rel="stylesheet"></head>
<header>
  <div class="wrapper">
    <a href="./accueil.html">
    <div class="icon home">
      <div class="tooltip">Accueil</div>
      <span><i class="fa fa-home"></i></span>
    </div></a>
    <a href="./groupe.html">
    <div class="icon groupe">
      <div class="tooltip">Groupes</div>
      <span><i class="fa fa-group"></i></span>
    </div></a>
    <a href="./Apropos.html">
    <div class="icon about">
      <div class="tooltip">À Propos</div>
      <span><i class="fa fa-at"></i></span>
    </div>
  </div></a>     
        
</header>
<body>
    frgryrrthrthrthrthr
    <div class="spinner"></div>
</body>

</body>
</html>