<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">  
  <link href="../static/image/music-icon-2.png" rel="icon">
  

  <title>Groupie-Tarcker</title>  

<link href="../static/style.css" rel="stylesheet"></head>
<header>
  <nav>
    <ul>
  <div class="wrapper">
    <a href="./accueil.html">
    <div class="icon home">
      <div class="tooltip">Accueil</div>
      <span><i class="fa fa-home"></i></span>
    </div></a>
    <a href="./groupe.html">
    <div class="icon groupe">
      <div class="tooltip">Groupes</div>
      <span><i class="fa fa-group"></i></span>
    </div></a>
    <a href="./Apropos.html">
    <div class="icon about">
      <div class="tooltip">À Propos</div>
      <span><i class="fa fa-at"></i></span>
    </div>
  </div></a>
      </ul>     
    </nav>    
</header>
<body>
  <CENTER>
    <FONT face="arial">
      <p>Groupie Trackers consiste à recevoir une API donnée et à manipuler les données qu'elle contient, afin de créer un site, affichant les informations.</p>
      <p>Mais c'est aussi une application web qui permet d'avoir des information sur vos chanteurs et/ou groupes de chanteurs préféré.</p>
      <br>
      <p>Nous sommes trois à avoir travaillé sur le projet:</p>
      <br>
      <p>Alexandre ROLLAND</p>
      <p>Yassine ENNOUHI</p>
      <p>Mathis CEBILE</p>
    </FONT>
    <img src="../static/image/Informatique.png">
  </CENTER>
</body>
</html>