<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <form action="/artists" method="post">
            <input type="text" name="artists">
            <button type="submit">Rechercher</button>
        </form>
        <!-- $ = la donnée importé -->
        {{range $}} <!-- $ = la donnée importé -->
          {{template "card" .}}
        {{end}}    
    </body>
</html>