<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{template "navbar"}}
        <form action="/artists" method="post">
            <input type="text" name="artists">
            <button type="submit">Rechercher</button>
        </form>
        <div class="cards-list">
            <!-- $ = la donnée importé -->
            {{range .ListOfArtists}} <!-- $ = la donnée importé -->
              {{template "card" .}}
            {{end}}    
        </div>
            <form action="/artists" method="post">
                {{range .PageNumber}} <!-- $ = la donnée importé -->
                    <button type="submit" name="page" value="{{.}}">{{.}}</button>
                {{end}}   
                <input type="hidden" name="savedPage" value="{{.SavedData.Page}}">
                <input type="hidden" name="savedArtists" value="{{.SavedData.SearchBar}}">
            </form>
        </form>
    </body>
</html>