<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Artist</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        {{ template "navbar" }}
        <form action="/locations" method="post">
            <input type="text" name="locations">
            <button type="submit">Rechercher</button>
        </form>
        <iframe
        width="450"
        height="250"
        frameborder="0" style="border:0"
        src="{{.Location}}">
       </iframe>
       <h3> Artists in Area: </h3>
     {{ range .Artists }}
       <li> {{.}} </li>
       {{end}}
    </body>
</html>